<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" /> -->

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            --twitter-color: #50b7f5;
            --twitter-background: #e6ecf0;
        }

        .sidebarOption {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .sidebarOption .material-icons,
        .fa-twitter {
            padding: 20px;
        }

        .sidebarOption h2 {
            font-weight: 800;
            font-size: 20px;
            margin-right: 20px;
        }

        .sidebarOption:hover {
            background-color: var(--twitter-background);
            border-radius: 30px;
            color: var(--twitter-color);
            transition: color 100ms ease-out;
        }

        /* .sidebarOption.active {
            color: var(--twitter-color);
        } */

        .sidebar__tweet {
            width: 100%;
            background-color: var(--twitter-color);
            border: none;
            color: white;
            font-weight: 900;
            border-radius: 30px;
            height: 50px;
            margin-top: 20px;
        }

        body {
            display: flex;
            height: 100vh;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 10px;
        }

        .sidebar {
            border-right: 1px solid var(--twitter-background);
            flex: 0.2;

            min-width: 250px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .sidebar a{
            text-decoration: none;
            color: black;
        }

        .fa-twitter {
            color: var(--twitter-color);
            font-size: 30px;
        }

        /* feed */
        .feed {
            flex: 0.5;
            border-right: 1px solid var(--twitter-background);
            min-width: fit-content;
            overflow-y: scroll;
        }

        .feed__header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 100;
            border: 1px solid var(--twitter-background);
            padding: 15px 20px;
        }

        .feed__header h2 {
            font-size: 20px;
            font-weight: 800;
        }

        .feed::-webkit-scrollbar {
            display: none;
        }

        .feed {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        /* tweet box */
        .tweetbox__input img {
            border-radius: 50%;
            height: 40px;
        }

        .tweetBox {
            padding-bottom: 10px;
            border-bottom: 8px solid var(--twitter-background);
            padding-right: 10px;
        }

        .tweetBox form {
            display: flex;
            flex-direction: column;
        }

        .tweetbox__input {
            display: flex;
            padding: 20px;
        }

        .tweetbox__input input {
            flex: 1;
            margin-left: 20px;
            font-size: 18px;
            border: none;
            outline: none;
        }

        .tweetBox__tweetButton {
            background-color: var(--twitter-color);
            border: none;
            color: white;
            font-weight: 900;
            border-radius: 30px;
            width: 80px;
            height: 40px;
            margin-top: 20px;
            margin-left: auto;
        }
        .tweetBox__tweetButton:hover{
            background-color: #0d8bf9;
        }

    
        .post__avatar img {
            border-radius: 50%;
            height: 40px;
        }

        .post {
            display: flex;
            align-items: flex-start;
            border-bottom: 1px solid var(--twitter-background);
            padding-bottom: 10px;
        }

        

        .post__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        #retweet:hover{
            color: red;
            cursor: pointer;
        }
        
        #like:hover{
            color: red;
            cursor: pointer;
        }
        #comment:hover{
            color: red;
            cursor: pointer;
        }

        .post__badge {
            font-size: 14px !important;
            color: var(--twitter-color);
            margin-right: 5px;
        }

        .post__headerSpecial {
            font-weight: 600;
            font-size: 12px;
            color: gray;
        }

        .post__headerText h3 {
            font-size: 15px;
            margin-bottom: 5px;
        }

        .post__headerDescription {
            margin-bottom: 10px;
            font-size: 15px;
        }

        .post__body {
            flex: 1;
            padding: 10px;
            margin-left: -50px;
            margin-top: 10px;
        }

        .post__avatar {
            padding: 20px;
        }

        /* widgets */
        .widgets {
            flex: 0.3;
        }

        .widgets__input {
            display: flex;
            align-items: center;
            background-color: var(--twitter-background);
            padding: 10px;
            border-radius: 20px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .widgets__input input {
            border: none;
            background-color: var(--twitter-background);
        }

        .widgets__searchIcon {
            color: gray;

        }

        .widgets__widgetContainer {
            margin-top: 15px;
            margin-left: 20px;
            padding: 20px;
            background-color: #f5f8fa;
            border-radius: 20px;
        }
        .widgets__widgetContainer a{
            text-decoration: none;
            color: black;
        }
        .profile{
            /* margin-left: 80px; */
            display: flex;
            align-items: center;
        }
        
        .profile img{
            width: 100px;
            border-radius: 50%;
        }
        .profile h2{
            margin-left: 25px;
            margin-top: 10px;
        }


        /* FOOTER */

    </style>
</head>

<body>
    <!-- sidebar starts -->
    <div class="sidebar">

        <h2 style="margin-bottom: 20px;">Twitter Clone</h2>
        <div class="sidebarOption">
            <span class="material-icons"> home </span>
            <h2><a href="/home">Home</a></h2>
        </div>

        <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;"> person </span>
            <h2><a href="/edit_profile">Edit Profile</a></h2>
        </div>

        <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">group</span>
            <h2><a href="/following">Following</a></h2>
        </div>

        <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">group</span>
            <h2><a href="/followers">Followers</a></h2>
        </div>

        <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">group</span>
            <h2><a href="/editpasswd">Change Password</a></h2>
        </div>

        <!-- <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">manage_accounts</span>
            <h2>
                <% for(var i=0;i<result.length;i++){ %>
                    <%=result[i].fname%>
                <% break; %>
                <% } %>
            </h2>
        </div> -->

        <!-- <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">settings</span>
            <h2>Settings</h2>
        </div> -->

        <div class="sidebarOption">
            <span class="material-symbols-outlined" style="padding: 20px;">logout</span>
            <h2><a href="/">Logout</a></h2>
        </div>
        <!-- <button class="sidebar__tweet">Tweet</button> -->
    </div>
    <!-- sidebar ends -->


    <div class="feed">
        <div class="widgets__input">
            <span class="material-icons widgets__searchIcon"> search </span>
            <input type="text" placeholder="Search Twitter" />
        </div>


        <div class="tweetBox">
            
            <form action="tweet_submit" method="post" enctype="multipart/form-data">
                <div class="tweetbox__input">
                   <!-- <% for(var i=0;i<result.length;i++){ %>
                        <%var img=result[i].profilepic%>

                    <% if (img !== null && img!="") { %>
                        <img src="/uploads/<%= img %>" alt="this image" width="40px"/>
                    <% } else   { %>
                        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />    
                    <% } %>
                    <% break; %>
                    <% } %> -->
                    <input type="text" placeholder="What's happening?" name="content"/>
                    <input type="file" name="tweet_img" class="custom-file-input" style="margin-left: 10px;">
                </div>
                <button class="tweetBox__tweetButton" style="cursor: pointer;">Tweet</button>
            </form>
        </div>


        <!-- start for loop here -->

        <% for(var i=0;i<result.length;i++){ %>


        <div class="post">
            <div class="post__avatar">
                
                <%var img=result[i].profilepic%>

                    <% if (img !== null && img!="") { %>
                        <img src="/uploads/<%= img %>" alt="this image" width="40px"/>
                    <% } else   { %>
                        <img src="https://www.tech101.in/wp-content/uploads/2018/07/blank-profile-picture.png" alt="" />    
                    <% } %>
                   
            </div>
            
            <div class="post__body">
                <div class="post__header">
                    <div class="post__headerText">
                        <h3>
                            <%=result[i].fname+" "+result[i].lname%>
                            <span class="post__headerSpecial">
                                <!-- <span class="material-icons post__badge"> 
                                verified
                                </span> -->
                                <% let dt = new Date(result[i].datetime);
                                    let tdt = dt.getFullYear()+"-"+dt.getMonth()+"-"+dt.getDate()+" "+dt.getHours()+":"+dt.getMinutes()+":"+dt.getSeconds(); %>
                                <%=tdt %>
                            </span>
                        </h3>
                    </div>
                    <div class="post__headerDescription">
                        <p>
                            <%=result[i].content%><br>
                            
                        </p>
                    </div>
                    <% if(result[i].type=="image/jpg" || result[i].type=="image/jpeg" || result[i].type=="image/png" || result[i].type=="image/gif"){ %>
                        <img src="/uploads/<%=result[i].image_vdo_name%>" width="200" height="200">
                        
                    <% }if(result[i].type=="video/mp4"){%>
                        <video height="200" width="200" controls muted autoplay>
                            <source src="/uploads/<%=result[i].image_vdo_name%>">
                        </video>
                    <% } %>
                    
                </div>

                
                <div class="post__footer">
                    <span class="material-icons" id="retweet"> repeat </span>
                    <span class="material-icons" id="like"> favorite_border </span>
                    <span class="material-symbols-outlined" id="comment"> comment </span>
                </div>
            </div>
        </div>


        <%}%>


    </div>





    <div class="widgets">
        <div class="widgets__widgetContainer">
            <a href="/edit_profile">

                <div class="profile">
                    
                    <img src="https://www.tech101.in/wp-content/uploads/2018/07/blank-profile-picture.png" alt="Profile Image" />    
                    <h2>
                     
                        Your Profile
                    </h2>
                </div>
            </a>
        </div>

        <div class="widgets__widgetContainer">
            <div class="all_users">
                <h2>People you may know</h2>
            </div>
            <!-- <% for(var i=0;i<result.length;i++){ %>
                <div class="user">
                   <%= result[i].fname %>
                   <%var img=result[i].profilepic%>

                    <% if (img !== null && img!="") { %>
                        <img src="/uploads/<%= img %>" alt="this image" width="40px"/>
                    <% } else   { %>
                        <img src="https://www.tech101.in/wp-content/uploads/2018/07/blank-profile-picture.png" alt="" />    
                    <% } %>
                </div>
           <% } %> -->
        </div>
    </div>


</body>

</html>